{% load static %}
<!DOCTYPE html>
<html lang=""ja>
    <head>
        <title>{{head}}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'useradmin/css/standard.css' %}"/>
    </head>
    <body>
        <p>{{msg}}</p>
        <p class="basiclogout_p"><a class="basiclogout" href="{% url 'logout' %}">Log out</a></p>
        <p class="basicimgup_p"><a class="basicimgup" href="{% url 'upimg' %}">Image Upload</a></p>
        <p class="basicimgup_p"><a class="basicimgup" href="{% url 'imgview' %}">アップロード済みの画像一覧</a></p>
    </body>
</html>
